<li class="single-work" style="background-image:url({{ site.assets }}/img/{{ case-study.bg_image }});">
	<div class="single-work--inner">
		<div class="single-work--titles">
			<h4 class="single-work--title">{{ case-study.heading }}</h4>
			<span class="single-work--subtitle">{{ case-study.subheading }}</span>
		</div>
		<div class="single-work--links">
			<a class="single-work--link" href="work/{{ case-study.page_url }}">Read the Case Study</a>
			<span class="single-work--link-divider">|</span>
			<a class="single-work--link" target="_blank" href="{{ case-study.website }}">Visit the Site</a>
		</div>
	</div>
</li>