<footer class="section--contact fullscreen js__scn">
  <div class="fullscreen__inner">
    <div class="container--m js__act-content--up">
      <h1 class="contact__title">Contact Us</h1>
      {% include contact-form.html %}
      {% include contact-details.html %}
      We're hiring! If you're passionate about digital products, technology and want to be part of a part of our growing, remote team then please contact us to let us know.</a></p>
      {% include social-buttons.html %}
      {% include legal.html %}
    </div>
  </div>
  <div class="pin--top" id="contact" aria-hidden="true"></div>
</footer>
