<form
  id="form--contact"
  class="form--contact js-cm-form"
  action="https://www.createsend.com/t/subscribeerror?description="
  method="post"
  data-id="A61C50BEC994754B1D79C5819EC1255CB7B76A4AFAD34BD67EDA86D2D1F125BC0D1FF8742D6EC6173DA137745385FB3E81183E62B459394399E427ECFC7C4A7D"
>
  <label for="email" class="form__label sr-only">Enter your email address</label>
  <input
    class="form__input js-cm-email-input"
    id="email"
    type="email"
    name="cm-xxvr-xxvr"
    placeholder="Enter your email address"
    required
  />
  <input type="hidden" id="fieldukkddk" name="cm-f-ukkddk" value="NoJs" />
  <input class="form__btn js-cm-submit-button" type="submit" value="Request Contact" />
</form>

<script
  type="text/javascript"
  src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"
></script>
