<footer class="section--contact fullscreen js__scn">
  <div class="fullscreen__inner">
    <div class="container--m js__act-content--up">
      <h1 class="contact__title">Contact Us</h1>
      {% include contact-form.html %}
      {% include contact-details.html %}
      <p class="contact__content">Working on a digital non-profit project? <a href="/articles/free-fridays.html">Check our Free Fridays.</a><br>
      We're hiring in the French Riviera. If you want to be part of our growing team, contact us to find out more.</a></p>
      {% include social-buttons.html %}
      {% include legal.html %}
    </div>
  </div>
  <div class="pin--top" id="contact" aria-hidden="true"></div>
</footer>
