<footer class="section--block section--contact fullscreen js__scn">
  <div class="fullscreen__inner">
    <div class="container--m js__act-child--up">
      <h1>Contact Us</h1>
      <p>Looking for <a href="/articles/free-fridays.html">Free Fridays?</a><br>
      Or want to be part of our growing team? We're hiring in the French Riviera - contact us below to find out more.</a></p>
      {% include contact-form.html %}
      {% include phone-email.html %}
      {% include social-buttons.html %}
      {% include legal.html %}
    </div>
  </div>
  <div class="pin--top" id="contact" aria-hidden="true"></div>
</footer>
