<header id="header--primary" class="header--primary{% if page.hero %} has__bgimg{% endif %}">
  <div class="container--xl">
    {% include logo.html %}
    <nav>
      <label for="nav__toggle--primary" class="nav__toggle" role="presentation">
      <span class="sr-only">Toggle Mobile Navigation</span>
      <i class="i--bars" aria-hidden="true"></i>
    </label>
      <input type="checkbox" id="nav__toggle--primary" aria-controls="nav--primary">
      <div id="nav--primary" class="nav--primary">
        <ul class="nav__list">{% for link in site.primary_nav %}
          {% unless page.url == link.url %}
            <li class="nav__item">
              <a href="{{ link.url | prepend: site.baseurl }}" class="nav__link">{{ link.text }}</a>
            </li>
          {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
