{% assign section = include.section_ourwork %}
<section id="{{ section.sectionid }}" class="section--block section_ourwork js__scn"{% if section.bg_color %} style="background-color: {{ section.bg_color }};"{% endif %}>
    {% if section.title %}
	<div class="container--s"><h1 class="{{ section.jsActHead | default: 'js__act-this--up' }}">{{ section.title }}</h1></div>
    {% endif %}
	<div class="content {{ section.jsActContent | default: 'js__act-child--up' }}">
		<ul class="work-list">
			{{ section.content | markdownify }}
		</ul>
	</div>
</section>