{% assign section = include.section %}

<section class="section js__scn {{ section.classlist }}{% if section.bg %} has__bgimg{% endif %}"
  {% if section.bg %} style="background-image: url({{ site.images }}/{{ section.bg }})"{% endif %}>
  <div class="container{{ section.cont_size }}">
    {% if section.title %}
      <h1 class="section__title js__act-header">{{section.title}}</h1>
    {% endif %}
    {% unless section.content == '' %}
    <div class="section__content{% unless section.js_act_content == 'null'%} js__act-content--up{% endunless %}">
      {{ section.content | markdownify }}
    </div>
    {% endunless %}
  </div>
  {% for add_content in section.additional_content %}
    {% include {{add_content}} %}
  {% endfor %}
  <div class="pin--top" id="{{ section.ident }}" aria-hidden="true"></div>
</section>
