{% assign worklist = site.work | sort:"order" | where: "published", true %}

<ul class="work__list js__act-child--up">
  {% for work in worklist %}
    <li class="work__tile" style="background-image:url({{ site.assets }}/img/{{ work.hero }});">
      <a class="work__tile--inner" href="{{ work.url }}">
        <div class="work__tile--titles">
          <h4 class="work__tile--title">{{ work.heading }}</h4>
          <span class="work__tile--subtitle">{{ work.sub_heading }}</span>
        </div>
        <div class="work__tile--links">
          <span class="work__tile--link">Read the Case Study</span>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
