stages:
  - build
  - deploy

build:
  only:
    - master
  image: starefossen/ruby-node
  stage: build
  cache:
    paths:
      - .yarn-cache/
  artifacts:
    expire_in: 1 month
    paths:
      - ./dist
  before_script:
    - gem update --system
    - gem install bundler
    - bundler update --bundler
    - bundle install
    - yarn install --frozen-lockfile --cache-folder .yarn-cache
  script:
    - yarn build

build_deploy:
  only:
    - master
  image: google/cloud-sdk:alpine
  stage: deploy
  cache:
    paths:
      - .yarn-cache/
  environment:
    name: website/live
    url: https://www.stickypixel.com
  artifacts:
    expire_in: 1 month
    paths:
      - ./dist
  script:
    - gsutil rsync -d ./dist gs://www.stickypixel.com
    - |
      curl -X POST "https://api.cloudflare.com/client/v4/zones/84605ec2d4a19c5032a1ed0734da912a/purge_cache" \
      -H "X-Auth-Email: ${CLOUDFLARE_EMAIL}" \
      -H "X-Auth-Key: ${CLOUDFLARE_API_KEY}" \
      -H "Content-Type: application/json" \
      --data '{"files":[${PATHS}]}'
  variables:
    PATHS: https://www.stickypixel.com/index.html
