stages:
  - build
  - deploy

build:
  only:
    - master
  image: starefossen/ruby-node:latest
  stage: build
  cache:
    paths:
      - .yarn-cache/
      - vendor/
  artifacts:
    expire_in: 1 month
    paths:
      - ./dist
  before_script:
    - export PATH="$(ruby -r rubygems -e 'puts Gem.user_dir')/bin:$PATH"
    - export PATH=$HOME/gems/bin:$PATH
    - export GEM_HOME=$HOME/gems
    - echo $PATH
    - ruby --version
    - gem --version
    - bundler --version
    - gem update --system
    - gem install bundler
    - ruby --version
    - gem --version
    - bundler --version
    - gem install bundler
    - bundler --version
    - export PATH=/usr/local/bin/gem:$PATH
	  - export PATH=/usr/local/bin/bundle:$PATH
    - echo $PATH
    - bundler --version
    # - bundle install
    # - yarn install --frozen-lockfile --cache-folder .yarn-cache
  script:
    - echo nothing
    # - yarn build

build_deploy:
  only:
    - master
  image: google/cloud-sdk:alpine
  stage: deploy
  cache:
    paths:
      - .yarn-cache/
  environment:
    name: website/live
    url: https://www.stickypixel.com
  artifacts:
    expire_in: 1 month
    paths:
      - ./dist
  script:
    - gsutil rsync -d ./dist gs://www.stickypixel.com
    - |
      curl -X POST "https://api.cloudflare.com/client/v4/zones/84605ec2d4a19c5032a1ed0734da912a/purge_cache" \
      -H "X-Auth-Email: ${CLOUDFLARE_EMAIL}" \
      -H "X-Auth-Key: ${CLOUDFLARE_API_KEY}" \
      -H "Content-Type: application/json" \
      --data '{"files":[${PATHS}]}'
  variables:
    PATHS: https://www.stickypixel.com/index.html
