---
layout: default
---

<article>
  <figure class="section--screenshot js__scn">
    <div class="container--m nopad">
      <img class="screenshot--dt js__act-this--up" src="{{ site.assets }}/img/{{ page.desktop1 }}" alt="{{ page.heading }} Desktop Screenshot" />
    </div>
  </figure>
  <section class="section--block js__scn">
    <div class="container--s">
      <h1 class="js__act-this--up">Introduction</h1>
      <div class="content js__act-child--up">
        {% contentblock intro %}
      </div>
    </div>
  </section>
  <section class="section--block js__scn">
    <div class="container--s ssleft">
      <figure class="screenshot--mob js__act-this--rt">
        <div class="screenshot__bg--mob">
          <img src="{{ site.assets }}/img/{{ page.mobile1 }}" alt="{{ page.heading }} Mobile Screenshot" />
        </div>
      </figure>
      <div class="content js__act-this--lt">
        <h2>Project Details</h2>
        <p>
          <span>Dates: {{page.dates}}</span>
          <span>Live Site: <a href="{{page.website}}" target="_blank">{{page.website}}</a></span>
        </p>
        <h2>Services</h2>
        <p>{{page.services}}</p>
        <h2>Technologies</h2>
        <p>{{page.technologies}}</p>
      </div>
    </div>
  </section>
  <section class="section--block js__scn">
    <div class="container--s">
      <h1 class="js__act-this--up">Our Approach</h1>
      <div class="content js__act-child--up">
        {% contentblock approach %}
      </div>
    </div>
  </section>
  <figure class="section--screenshot js__scn">
    <div class="container--m">
      <img class="screenshot--dt js__act-this--up" src="{{ site.assets }}/img/{{ page.desktop2 }}" alt="{{ page.heading }}. {{ page.sub_heading }}" />
    </div>
  </figure>
  <section class="section--block js__scn">
    <div class="container--s">
      <h1 class="js__act-this--up">Why Sticky Pixel?</h1>
      <div class="content js__act-child--up">
        {% contentblock why %}
      </div>
    </div>
  </section>
  <section class="section--block js__scn">
    <div class="container--s ssright">
      <figure class="screenshot--mob js__act-this--lt">
        <div class="screenshot__bg--mob">
          <img src="{{ site.assets }}/img/{{ page.mobile2 }}" alt="{{ page.heading }} Mobile Screenshot" />
        </div>
      </figure>
      <div class="content js__act-this--rt">
        <h2>Our Scope of Work</h2>
        {% contentblock scope %}
      </div>
    </div>
  </section>
  <section class="section--block testimonial js__scn">
    <div class="fullscreen__inner">
      <div class="container--s">
        <div class="content js__act-child--up">
          {% contentblock testimonial %}
        </div>
      </div>
    </div>
  </section>
</article>
