.hero
  h1
    font-family: $ff--headings
    font-size: $fs--j
    margin-bottom: 0
    letter-spacing: -1px
    text-transform: none

  p
    font-weight: 300
    margin: 2rem 0 0

  .container
    max-width: $sz--m

  .btn--ghost
    margin-top: 3rem
    color: $co--brand
    border: $ln--thin $co--brand
    border-radius: 2px

    &:hover,
    &:focus,
    &:active
      color: $co--wt

  &.has__bgimg
    .fullscreen__inner
      vertical-align: bottom
      padding-bottom: 3rem
      
    &::before
      display: block
      content: ' '
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.95) 100%)

  @media (min-width: $bp--s)
    h1
      font-size: $fs--xj

      span
        display: block

    p
      font-size: $fs--l
