/*------ Layout ------

html,
body
  width: 100%
  height: 100%

body
  position: relative
  background-color: $co--wt

.container
  position: relative
  margin: 0 auto
  padding: 8rem 1.5rem

.container--s
  @extend .container
  max-width: $sz--s

.container--m
  @extend .container
  max-width: $sz--m

.container--l
  @extend .container
  max-width: $sz--l

.container--xl
  position: relative
  margin: 0 auto
  max-width: $sz--xl

%section
  position: relative
  background-repeat: no-repeat
  background-attachment: scroll
  background-position: center
  background-size: cover

  &.has__bgimg
    transform: translate3d(0, 0, 0)
    color: $co--wt

.fullscreen
  display: table
  width: 100vw
  height: 100vh

  &__inner
    display: table-cell
    width: 100%
    height: 100%
    vertical-align: middle

.testimonial
  display: table
  width: 100%
  background-color: $co--gr--dk
  color: $co--wt
  min-height: 80vh
