/*------ Layout ------

html,
body
  width: 100%
  height: 100%

body
  position: relative
  background-color: $co--wt

.container
  position: relative
  margin: 0 auto
  padding: 8rem 1.5rem

.container--s
  @extend .container
  max-width: $sz--s

.container--m
  @extend .container
  max-width: $sz--m

.container--l
  @extend .container
  max-width: $sz--l

.container--xl
  position: relative
  max-width: $sz--xl
  margin: 0 auto

=dark
  color: $co--wt
  background-color: $co--gr--dk

%section
  position: relative
  background-repeat: no-repeat
  background-attachment: scroll
  background-position: center
  background-size: cover

  &.has__bgimg
    transform: translate3d(0, 0, 0)
    color: $co--wt

.fullscreen
  display: table
  width: 100vw
  height: 100vh

  &__inner
    display: table-cell
    width: 100%
    height: 100%
    vertical-align: middle

.testimonial
  +dark
  display: table
  width: 100%
  min-height: 80vh

.dark
  +dark

.shadow
  box-shadow: 0 0 25px 0px rgba(0,0,0,0.5)
  z-index: 1

.page--default
  .section--hero
    overflow: hidden

    &::before
      content: ' '
      position: absolute
      top: 0
      right: 0
      // Just to prevent an issue with a white line displaying
      bottom: -1px
      left: 0
      background-image: url('/assets/img/bg-polygon.svg')
      background-size: 100% auto
      background-position: left bottom
      background-repeat: no-repeat
      animation: fadeIn ease-in-out 20s alternate infinite
      transform-origin: left bottom
