.mosaic
  display: flex
  flex-wrap: wrap
  margin: -0.75rem 0.5rem

.tile
  flex: 1 1 100%
  height: 60vw
  min-height: 320px
  max-height: 520px
  margin: 0.75rem 0
  color: $co--wt
  position: relative
  overflow: hidden

  &__background
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: $co--gr--mid
    background-repeat: no-repeat
    background-position: 50%
    background-size: cover
    transform: scale3d(1, 1, 1)
    transition: transform $tr--mid ease-in-out
  
  &:hover
    .tile__background
      transform: scale3d(1.05, 1.05, 1.05)


  &__wrap
    position: relative
    display: flex
    align-items: center
    width: 100%
    height: 100%
    padding: 2em 10%
    transition: opacity $tr--mid ease-in-out
    text-decoration: none
    color: $co--wt
    background-color: rgba(0, 0, 0, 0.5)

  &__title
    font-weight: 900
    font-family: $ff--headings
    font-size: $fs--xl
    margin-bottom: 0.2em
    text-transform: none

  &__subtitle
    font-weight: 300

  &__link
    +fancy-link
    font-size: $fs--s
    font-weight: 300
    position: absolute
    bottom: 2em
    left: 10%
    display: none
    opacity: 0


@media (min-width: $bp--l)
  .mosaic
    max-width: $sz--l
    margin: -0.5rem auto

  .tile
    flex-basis: 40%
    height: 30vw
    margin: 0.5rem

    &__link
      display: block

    &:hover
      .tile__link
        opacity: 1
