/*--------Section work---------
.section--work
  .container
    padding-top: 5rem
    padding-bottom: 0

  .section__title
    margin-bottom: 5rem
    color: $co--bk

  .pin--top
    top: $hd-height / -1

/*--------Layout case-study---------

.page--work
  .section--hero
    .fullscreen__inner
      vertical-align: bottom
      padding-bottom: 3rem

  .section
    + .section .container
      border-top: $ln--thin $co--gr--lt

    &:last-child .container
      border-bottom: $ln--thin $co--gr--lt

.work__screenshot
  position: relative

  &--dt
    .container--m
      padding-top: 0
      padding-bottom: 0

    img
      border-radius: 3px
      box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5)

    &:first-child
      margin-top: -8rem

  &--mob--left,
  &--mob--right
    max-width: 320px
    margin: 0 auto

    img
      border-radius: 2px
      border: $ln--thin $co--gr--lt

.work__title
  @extend %title--large

  &--sub
    @extend %title--small

.work__content
  @extend %content

  &--left,
  &--right
    @extend %content
    margin-top: 4rem

    span
      display: block

    li
      margin-bottom: 1.5em * $lh--para - $lh--base

.work__screenframe
  margin: -9.5% -10.5%
  padding: 30% 16% 35%
  background-image: url('/assets/img/iphone.png')
  background-repeat: no-repeat
  background-size: 100% 100%

@media (min-width: $bp--l)
  .twocol
    display: flex
    align-items: center

  .work__screenshot
    &--mob--left,
    &--mob--right
      margin: 0
      flex: 2 10 50%

    &--mob--left
      order: 1
      margin-left: -10%

    &--mob--right
      order: 2
      margin-right: -10%

  .work__content
    &--left,
    &--right
      margin-top: 0
      width: 60%
      flex: 0 0 auto

      p + .work__title--sub
        margin-top: 4rem

    &--left
      order: 1
      margin-right: 2rem

    &--right
      order: 2
      margin-left: 2rem
