/*--------Section work---------
.section--work

  .container
    padding-top: 5rem
    padding-bottom: 0

  h1
    margin-bottom: 5rem
    color: $co--bk

  .pin--top
    top: $hd-height / -1

.work__list
  display: flex
  flex-wrap: wrap
  margin: -0.75rem 5px

.work__tile
  line-height: 1.2
  flex: 1 1 100%
  height: 60vw
  min-height: 320px
  max-height: 520px
  color: $co--wt
  background-color: #3a4b62
  background-repeat: no-repeat
  background-position: 50%
  background-size: cover
  margin: 0.75rem 0


  &--inner
    display: flex
    align-items: center
    width: 100%
    height: 100%
    padding: 2em 10%
    transition: opacity $tr--mid ease-in-out
    text-decoration: none
    color: $co--wt
    background-color: rgba(0, 0, 0, 0.5)

  &--titles
    width: 100%

  &--title
    font-family: $ff--headings
    font-size: $fs--xl
    margin-bottom: 0.2em
    text-transform: none

  &--subtitle
    font-weight: 300

  &--links
    display: none

  &--link
    font-size: $fs--s
    font-weight: 300
    transition: all $tr--mid ease-in-out
    text-decoration: none
    border-bottom: 1px solid transparent

    &:hover
      border-bottom: 1px solid $co--wt

@media (min-width: $bp--l)
  .work__tile
    flex-basis: 40%
    height: 30vw
    margin: 0.75rem

    &--inner
      opacity: 0

      &:hover
        opacity: 1

    &--links
      position: absolute
      bottom: 2em
      left: 10%
      display: block

/*--------Layout case-study---------
.page__work
  .section--block
    .container
      border-top: $ln--thin $co--gr--lt

  .section--screenshot + .section--block,
  .testimonial,
  .hero,
  .fullscreen
    .container
      border-top: 0

  .content
    li
      margin-bottom: 1.5em * $lh--para - $lh--base

.section--screenshot
  position: relative

  &:first-child
    margin-top: -8rem

  .container
    padding-top: 0
    padding-bottom: 0

.screenshot
  &--dt
    border-radius: 3px
    background: #9F9F9F
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5)

  &--mob
    max-width: 320px
    margin: 0 auto

.screenshot__bg--mob
  margin: -9.5% -10.5%
  padding: 30% 16% 35%
  background-image: url('/assets/img/iphone.png')
  background-repeat: no-repeat
  background-size: 100%

  img
    border-radius: 2px

.ssleft,
.ssright
  .content
    margin-top: 4rem

    p + h2
      margin-top: 4rem

    span
      display: block

@media (min-width: $bp--l)
  .ssleft,
  .ssright
    display: flex
    align-items: center

    .screenshot--mob
      margin: 0
      flex: 2 10 50%

    .content
      margin-top: 0
      width: 60%
      flex: 0 0 auto

  .ssleft
    .screenshot--mob
      margin-left: -10%

    .content
      margin-left: 2rem

  .ssright
    .screenshot--mob
      order: 2
      margin-right: -10%

    .content
      order: 1
      margin-right: 2rem
